doctype html
html(style='overflow-y: hidden; overflow-x: hidden;')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatable', content='ie=edge')

    title= title
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel="icon" href="/images/piano.png" sizes="16x16")
    script(type='text/javascript' src='/jquery.min.js')
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/main.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/colors.css')
    link(rel='stylesheet', href='/stylesheets/desktop.css')
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    link(rel='stylesheet', href='/stylesheets/4k.css')
    link(rel='stylesheet', href='/stylesheets/tablets.css')
    link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i&display=swap" rel="stylesheet")
  body(style='overflow-y: hidden; overflow-x: hidden;')
    .wrapper(style='overflow-y: hidden; overflow-x: hidden;')
      header.container-fluid.d-flex
          h1.p2.align-content-center.justify-content-center= 'Internal Server Error'
      include sidebar
      .container.main.d-flex.justify-content-center
        #error-div.col-12.d-flex.d-flex.justify-content-center
          if(message === "404'd!")
            h2.p2 Use the sidebar to return to civilization.
          else
            h2.p2= message
    footer.d-flex.justify-content-center
        - var footerString = `2020 - Matthew W. Farstad`
        .d-flex.justify-content-center.align-self-center= footerString
